In [1]:
#Importing Library
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
#Data Loading

file = pd.read_csv('setone.csv')
file.head()

,Date,Recovered,Cumulative recovered,Cumulative recovered (% of all cases),New case,Cumulative cases,Active case,Local case,Local case (Citizen),Local case (Non-citizen),...,ICU,Intubated,tweet_id,link,remark,Total people tested,People Tested,New case (7 day rolling average),Positivity rate,Positivity rate (7 day rolling average)
0,1/3/2020,0,22,75.86,4,29,7,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,2/3/2020,0,22,75.86,0,29,7,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,"1,739",NaN,1.4,NaN,NaN
2,3/3/2020,0,22,61.11,7,36,14,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,2.9,NaN,NaN
3,4/3/2020,0,22,44.00,14,50,28,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,"1,983",NaN,5.3,NaN,NaN
4,5/3/2020,0,22,40.00,5,55,33,NaN,NaN,NaN,...,0,0,NaN,NaN,NaN,NaN,NaN,5.7,NaN,NaN

In [6]:
file.describe()

,Cumulative recovered (% of all cases),Imported case,Imported case (Citizen),Imported case (Non-citizen),Death,Death (Citizen),Death (Non-citizen),Cumulative deaths (% of all cases),ICU,Intubated,New case (7 day rolling average),Positivity rate,Positivity rate (7 day rolling average)
count,507.000000,332.000000,261.000000,255.000000,507.000000,301.000000,301.000000,507.000000,507.000000,507.000000,507.000000,467.000000,354.000000
mean,80.297436,7.632530,3.701149,4.160784,14.282051,21.631229,1.661130,0.852071,198.871795,94.812623,1783.977712,4.203319,4.864096
std,20.136223,8.381963,5.457067,4.117567,28.093740,31.201499,3.227711,0.501568,275.401642,137.544367,2360.001098,3.444530,2.760809
min,7.280000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.010000,0.090000
25%,75.900000,3.000000,1.000000,1.000000,0.000000,2.000000,0.000000,0.380000,9.000000,4.000000,51.950000,0.685000,2.780000
50%,85.700000,5.000000,2.000000,3.000000,3.000000,7.000000,1.000000,0.700000,102.000000,42.000000,1042.900000,4.080000,5.435000
75%,93.975000,9.000000,4.000000,6.000000,10.000000,21.000000,2.000000,1.382500,225.500000,95.000000,2700.050000,6.700000,6.985000
max,97.900000,72.000000,56.000000,28.000000,153.000000,128.000000,28.000000,1.710000,972.000000,465.000000,11992.900000,21.900000,9.500000

In [9]:
file.shape

(507, 28)

In [13]:
file.isnull().sum()

Date                                         0
Recovered                                    0
Cumulative recovered                         0
Cumulative recovered  (% of all cases)       0
New case                                     0
Cumulative cases                             0
Active case                                  0
Local case                                 180
Local case (Citizen)                       251
Local case (Non-citizen)                   252
Imported case                              175
Imported case (Citizen)                    246
Imported case (Non-citizen)                252
Death                                        0
Death (Citizen)                            206
Death (Non-citizen)                        206
Cumulative deaths                            0
Cumulative deaths (% of all cases)           0
ICU                                          0
Intubated                                    0
tweet_id                                   210
link                                       213
remark                                     495
Total people tested                         22
People Tested                               39
New case (7 day rolling average)             0
Positivity rate                             40
Positivity rate (7 day rolling average)    153
dtype: int64